/*
Definimos las etiquetas que tendra el cuerpo de la pagina
*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: rgb(52, 167, 220);
    background-image: url('https://source.unsplash.com/1600x900/?airport');
}
/*
Definimos las etiquetas que tendra el cuadro de la izquierda de la pagina
Debido a que queremos hacer el efecto de desaparecer y aparecer varios contenidos
de la pagina, procedemos a poner display none en varioes de estos. luego en el 
archivo js, habrá una función que cambiará estos para que sean visibles y a
la vez, ocultar otros

Titulo de bienvenida
*/
.Titulo {
    background: #858579d0;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

h1.Bienvenida {
    font-size: 1.6em;
}

h2.Lugar_origen{
    font-size: 2em;
    display: none;
    justify-content: center;
    align-content: center;
}

.Clima_origen{
    display: none;
}

h1.Temperatura_origen {
    margin: 0;
    margin-bottom: 10px;
    margin-left: 1em;
}

.Descripcion_origen {
    display: block;
}
.Descripcion_origen::first-letter{
    text-transform: uppercase;
}

/*
Procedemos a definir las etiquetas del segundo cuadro
*/


.Buscador {
    background: #858579d0;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

h1.Titulo {
    display: flex;
    justify-content: center;
    align-content: center;
}

h1.Titulo_buscador {
    justify-content: center;
    align-content: center;
    display: flex;
}

.Key {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: -4em;
}
h2.Estado_key {
    justify-content: center;
    align-content: center;
    display: none;
}
.Instrucciones {
    display: none;
    justify-content: center;
    align-content: center;
    margin-left: -4em;
}

.search {
    display: none;
    align-items: center;
    justify-content: center;
}

button {
    margin: .5em;
    border-radius: 50%;
    border: none;
    height: 3em;
    width: 3.4em;
    outline: none;
    background: gray;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    padding: .5em;
    border-radius: 20px;
    background-color: #d4c3c3d0;
    color: black;
    font-family: inherit;
    font-size: 110%;
    width: calc(100% - 90px);
}

button:hover {
    background-color: #b4afaf;
}

h2.Lugar_destino{
    display : none;
    align-content: center;
    justify-content: center;
}

.Clima{
    display: none;
}

.flex {
    display: flex;
    align-items: center ;
}

h1.Temperatura {
    margin: 0;
    margin-bottom: 10px;
    margin-left: 1em;
}

.Descripcion {
    display: block;
}
.Descripcion::first-letter{
    text-transform: uppercase;
}